[Unit]
Description=simple-tcp-server autorun
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/sbcl --load /root/cl-servers/simple-tcp-server.lisp --eval "(server)"
SyslogIdentifier=simple-tcp-server-autorun
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target