[Unit]
Description=jekyll autorun
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/jekyll build --destination /etc/blog.jacobclark.xyz --watch
SyslogIdentifier=jekyll-autorun
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
